:root {
  --white: #fff;
  --headerbackground: #212329;
  --darkgreen: #1fcc84;
  --contactinfohover: #948f8f;
  --black: #333;
  --navlinkdropdownmenu: #cbd0d7;
  --signup: #11935d;
  --grey: #cacaca;
  --limegreen: #9FC088;
  --lightbrown: #5a5a5b;
  --footer: #2C3333;
  --officedetails: #aeaeae;
}

li {
  list-style: none;
  margin: auto;
}

a {
  text-decoration: inherit;
}

html,body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}


.faq-heading{
  border-bottom: #777;
  padding: 20px 60px;
  text-align: center;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
padding: 20px;
}

.hr-line{
width: 60%;
margin: auto;
}

p {
  font-family: 'Poppins';
  line-height: 1.429;
  letter-spacing: 0.1em;
  font-family: 'Work Sans', sans-serif;
}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 65%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  font-size: 1.5rem;
}

.faq-body{
  margin: auto;
  /* text-align: center; */
 width: 50%;
 padding: auto;

}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
.active:after {
  content: "\2796";
}

li {
  list-style: none;
}


/* ===NavBar=== */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}


.logo {
  width: 190px;
  margin-right: 1em;
}

.navbar-dark .navbar-nav .nav-link.current, .navbar-nav .show>.nav-link {
    color: var(--darkgreen);
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
   border: none;
}

:focus-visible {
  outline-color: none;
  outline-style: none;
  outline-width: 0
  ;
}



/* ==== DROPDOWN-MENU ==== */


  .nav-link {
    display: block;
    padding: 1rem 1rem;
    color: var(--darkgreen);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-weight: 700;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: var(--white);
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link.current, .navbar-dark .navbar-nav .show>.nav-link:hover {
    color: var(--darkgreen);
}

  nav .dropdown-menu {
      min-width: 200px;
      max-height: none;
      padding: 20px;
      border-radius: 0;
      margin: 0;
      white-space: nowrap;
      border: 1px solid #36384a;
      box-shadow: 0 3px 6px rgb(0 0 0 / 23%), 0 3px 6px rgb(0 0 0 / 16%);
      flex-direction: column;
      background: var(--headerbackground);
      max-height: 300px;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    /* ===FOOTER=== */

    footer .container {
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
    }

    .link {
      color: var(--white);
      text-decoration: none;
    }

    .link:hover {
      color: var(--contactinfohover);
    }

    footer p {
      line-height: .8;
      font-family: "Poppins";
      font-weight: 500;
      letter-spacing: 0.1em;
      color: var(--officedetails);
    }

    .footer  {
      overflow: hidden;
      background: var(--headerbackground);
      color: var(--white);
      font-family: 'Poppins';
      padding-top: 2em;
    }

    /*Better Health Info*/
    .location {
      font-weight: 700;
      line-height: 2;
    }

    .footer-hours {
      font-weight: 700;
      line-height: 44;
      padding-top: 1em;
    }

    .Details {
      font-family: 'Poppins', sans-serif;
      font-size: 50px;
      font-weight: 600;
    }


    /*Logo*/

    .bottomlogo {
      height: 280px;
      width: 280px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .trademark {
      padding-bottom: 1rem;
      text-align: center;
    }


    /*=== CONTACT ===*/

    .media-icons {
      display: inline-block;
      justify-content: space-between;
      padding-bottom: 1rem;
      margin: 3px;
    }

    .phone-icon {
      border: 2px solid var(--white);
      color: var(--white);
      border-radius: 55%;
      font-size: 30px;
      list-style: none;
      padding: 20px 20px;
      transition: .5s;
    }

    .phone-icon:hover {
      color: var(--contactinfohover);
      border: 2px solid var(--contactinfohover);
      transition: .2s;
    }

    .email-icon {
      border: 2px solid var(--white);
      color: var(--white);
      border-radius: 55%;
      font-size: 30px;
      list-style: none;
      padding: 20px 20px;

      /*effects*/
      transition: .5s;
    }


    /*Hover */

    .email-icon:hover {
      color: var(--contactinfohover);
      border: 2px solid var(--contactinfohover);
      transition: .2s;
    }

    /*1024px*/

    @@media (max-width: 1024px) {

      /* === FOOTER === */

      .Details {
        font-size: 46px;
      }

    }

    /*900px */

    @media (max-width: 991px) {

      /* === FOOTER === */

      .Details {
      font-size: 39px;
      }

    }




/*768px */


@media (max-width: 768px) {

.hr2 {
  width: 24%;
}


  .faq-page {
    font-size: 1.4rem;
    width: 100%;
  }

  .faq-body {
    width: 80%;
  }

  /* === FOOTER === */

.Details {
  font-size: 39px;
}

footer p {
  font-size: 14px;
}
}

/* 600px */

@media (max-width: 600px) {

.faq-page {
  font-size: 1.3rem;
  width: 100%;
}

.faq-body {
  width: 90%;
  font-size: 0.79rem;
}

/* === FOOTER === */

.Details {
  font-size: 39px;
}

.bottomlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.trademark {
  text-align: center;
}

.contact {
  padding-top: 1rem;
  padding-bottom: .4rem;
}

footer p {
  font-size: 13.9px;
}

}

@media (max-width: 390px) {

.faq-container {
  padding: 0;
}

  /* === FOOTER === */

  .Details {
    font-size: 40px;
  }

  footer p {
    font-size: 15px;
  }
}
