:root {
  --white: #fff;
  --headerbackground: #212329;
  --darkgreen: #1fcc84;
  --contactinfohover: #948f8f;
  --black: #333;
  --navlinkdropdownmenu: #cbd0d7;
  --signup: #11935d;
  --grey: #cacaca;
  --limegreen: #9FC088;
  --lightbrown: #5a5a5b;
}
li {
  list-style: none;
  margin: auto;
}

a {
  text-decoration: inherit;
}

html,body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


.faq-heading{
  border-bottom: #777;
  padding: 20px 60px;
  text-align: center;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;

}
.hr-line{
width: 60%;
margin: auto;

}

p {
  font-family: 'Poppins';
  line-height: 1.429;
  letter-spacing: 0.1em;
}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 65%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
  font-size: 1.5rem;

}
.faq-body{
  margin: auto;
  /* text-align: center; */
 width: 50%;
 padding: auto;

}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  /* content: "\2796"; */
  /* Unicode character for "minus" sign (-) */
}

li {
  list-style: none;
}


/* ===NavBar=== */



.logo {
  height: 90px;
  width: 90px;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--darkgreen);
}



/* ==== DROPDOWN-MENU ==== */


  .nav-link {
    display: block;
    padding: 1rem 1rem;
    color: var(--darkgreen);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-weight: 700;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: var(--white);
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link:hover {
    color: var(--darkgreen);
}

  nav .dropdown-menu {
      min-width: 200px;
      max-height: none;
      padding: 0px;
      border-radius: 0;
      margin: 0;
      white-space: nowrap;
      border: 1px solid #36384a;
      box-shadow: 0 3px 6px rgb(0 0 0 / 23%), 0 3px 6px rgb(0 0 0 / 16%);
      flex-direction: column;
      background: var(--headerbackground);
    }




/*768px */


@media (max-width: 768px) {

.hr2 {
  width: 24%;
}


  .faq-page {
    font-size: 1.4rem;
    width: 90%;
  }
}
