:root {
  --white: #fff;
  --headerbackground: #212329;
  --darkgreen: #1fcc84;
  --contactinfohover: #948f8f;
  --black: #333;
  --navlinkdropdownmenu: #cbd0d7;
  --signup: #11935d;
  --grey: #cacaca;
  --limegreen: #9FC088;
  --lightbrown: #5a5a5b;
  --footer: #2C3333;
  --officedetails: #aeaeae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  margin: auto;
}

a {
  text-decoration: inherit;
}

html,body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}


section {
  width: 100%;
  min-height: 1000px;
}

/* === Misc. ===*/

.link {
  color: var(--black);
  text-decoration: none;
}

.link:hover {
  color: var(--contactinfohover);
}


/* ==== NAVBAR ==== */



.logo {
  width: 190px;
  margin-right: 1em;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--darkgreen);
}

.section-content-1 {
  color: var(--white);
}



/* ==== DROPDOWN-MENU ==== */


  .nav-link {
    display: block;
    padding: 1rem 1rem;
    color: var(--darkgreen);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-weight: 700;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: var(--white);
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link:hover {
    color: var(--darkgreen);
}

  nav .dropdown-menu {
      min-width: 200px;
      max-height: none;
      padding: 20px;
      border-radius: 0;
      margin: 0;
      white-space: nowrap;
      border: 1px solid #36384a;
      box-shadow: 0 3px 6px rgb(0 0 0 / 23%), 0 3px 6px rgb(0 0 0 / 16%);
      flex-direction: column;
      background: var(--headerbackground);
    }



/* === DROPDOWN MENU === */

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
   border: none;
}

:focus-visible {
  outline-color: none;
  outline-style: none;
  outline-width: 0
  ;
}


  .nav-link {
    display: block;
    padding: 1rem 1rem;
    color: var(--navlinkdropdownmenu);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-weight: 700;
  }

  .nav-link:hover {
    color: var(--darkgreen);
    transition: .1s;
  }





    .nav .nav-links .nav-item .dropdown-menu .nav-link {
        justify-content: flex-start;
        color: #a7b1c1;
        font-weight: 400;
        background: transparent;
        padding: 15px 20px;
    }



    /* === WELCOME SECTION === */

    .title {
      background-image: linear-gradient(to bottom, rgb(67 151 152) 10%, rgba(0,255,66,0) 100%,transparent),url(https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
      -webkit-background-size: cover;
      background-size: cover;
      background-position: center center;
      height: 100vh;
      overflow: hidden;
      position: relative;
      /* background-attachment: fixed; */
    }

    .effect{
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
    }

    .title-text {
      display: grid;
      place-items: center;
      height: 70vh;
      font-family: 'Poppins',serif;
      text-transform: capitalize;
      font-size: 50px;
    }

    .title-text h1 {
      color: transparent;
      -webkit-text-stroke: 3px #fff;
      font-size: 10rem;
      text-align: center;
    }


/* === ABOUT === */


#emotional {
  padding: 9.0625em 0;
}

#emotional .container {
  padding: 0;
  color: var(--white);
  max-width: 1170px;
  margin: 0 auto;
}

/* === MISC. === */

.container {
max-width: 1170px;
padding: 0 20px;
margin: 0 auto;
}

/* === SECTION #1 === */

.green-card {
  background: var(--darkgreen);
  width: 450px;
  padding: 3rem;
  margin: auto;
  box-shadow: 60px -16px var(--headerbackground);
}

.section-content-card {
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 1em;
  text-align: center;
}


/* === HEADER TITLES === */


.header {
  text-transform: uppercase;
  position: relative;
  font-size: 3.5rem;
  display: block;
  padding: 3rem;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
  color: var(--headerbackground);
}

.header::before {
  content: "";
  width: 15rem;
  height: 5px;
  background-color: var(--headerbackground);
  bottom: 2.2rem;
  left: 50%;
  position: absolute;
  border-radius: 2rem;
  transform: translateX(-50%);
}


/* ==== SECTION #2: COMMON RELATIONAL CONFLICTS ==== */


.image {
  display: none;
}

.carousel-inner > .item >img{
  min-height : 300px;
  max-height : 300px;
  width : 100%;
}

.carousel-item {
  color: var(--white);
  position: relative;
}

/* Arrow Buttons */

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding: 20%;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100% 100%;
}

.cover-image {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    height: 100vh;
    background-color: linear-gradient(rgba(0, 0, 0, 0.747), rgba(235, 223, 223, 0.6));
    background-image: url("relationalconflict.parent_children.jpg"), url("relationalconflict.partner_conflict.jpeg"),
    url("relationalconflict.family_background.jpg"), url("relationalconflict.siblings.jpg"), url("relationalconflict.friends_fight.jpeg"), url("relationalconflict.violence.jpeg");
  }


/* Testimonial Header */

  .testimonial-header {
    text-transform: uppercase;
    position: relative;
    font-size: 7rem;
    display: block;
    padding: 3rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    color: var(--white);
    letter-spacing: 6px;
    /* text-shadow: 0px 4px var(--headerbackground); */
  }

.testimonial-header-longslide {
    text-transform: uppercase;
    position: relative;
    font-size: 5.5rem;
    display: block;
    font-weight: 900;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    color: var(--white);
    letter-spacing: 6px;
    /* text-shadow: 0px 4px var(--headerbackground); */
  }



/* Testimonial Content */

  .testimonial-content, .testimonial-content-longslide {
    color: var(--white);
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    visibility: visible !important;
    background-blend-mode: darken;
    font-size: 1.3rem;
  }

  .carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
  }

  .carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators .active {
    background-color: var(--white);
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}





/* === SECTION #3: APPROACHES WE USE  === */

/* ==== Header-white === */

.header-white {
  text-transform: uppercase;
  position: relative;
  font-size: 2.5rem;
  display: block;
  padding: 3rem;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
  color: var(--white);
  letter-spacing: 6px;
}

.header-white::before {
  content: "";
  width: 15rem;
  height: 5px;
  background-color: var(--headerbackground);
  bottom: 2.2rem;
  left: 50%;
  position: absolute;
  border-radius: 2rem;
  transform: translateX(-50%);
}

/* ==== Background === */

.section-bg {
  padding: 120px 0;
  color: var(--white);
}

.section-bg::before {
  content: "";
  background: var(--limegreen);
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
  z-index: -1;
}

section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

/* === Icons === */

.treatment-icon {
  height: 150px;
  width: 150px;
  margin: auto;
}

/* === Content Section #3 === */


.section-content-3 {
  color: var(--white);
  position: relative;
  line-height: 1.7;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.section-content-name {
  color: var(--white);
  position: relative;
  line-height: 1.7;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

/* === SECTION TITLE/CONTENT === */

.section-title {
  float: right;
  font-size: 5rem;
  text-align: center;
  text-transform: capitalize;
  font-family: 'Poppins',sans-serif;
  padding: 20px;
}

.section-content {
  font-family: 'Poppins',sans-serif;
  padding: 0px 50px;
  line-height: 1.7;
  color: var(--headerbackground);
}



/* ==== FOOTER ==== */

.link {
  color: var(--white);
  text-decoration: none;
}

.link:hover {
  color: var(--contactinfohover);
}

footer p {
  line-height: .8;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: 0.1em;
  color: var(--officedetails);
}

.footer  {
  overflow: hidden;
  background: var(--headerbackground);
  color: var(--white);
  font-family: 'Montserrat';
  padding-top: 2em;
}

/*Better Health Info*/
.location {
  font-weight: 700;
  line-height: 2;
}

.footer-hours {
  font-weight: 700;
  line-height: 44;
  padding-top: 1em;
}

.Details {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
}


/*Logo*/

#emotional, img {
  max-width: 100%;
  display: block;
}

.bottomlogo {
  height: 280px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.trademark {
  padding-bottom: 1rem;
  text-align: center;
}


/*=== CONTACT ===*/

.connect {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.media-icons {
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0px 35px;
}

.phone-icon {
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 55%;
  font-size: 30px;
  list-style: none;
  padding: 20px 20px;
  transition: .5s;
}

.phone-icon:hover {
  color: var(--contactinfohover);
  border: 2px solid var(--contactinfohover);
  transition: .2s;
}


.email-icon {
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 55%;
  font-size: 30px;
  list-style: none;
  padding: 20px 20px;

  /*effects*/
  transition: .5s;
}


/*Hover */

.email-icon:hover {
  color: var(--contactinfohover);
  border: 2px solid var(--contactinfohover);
  transition: .2s;
}



/*Media*/

@media (min-width: 1500px) {
  .greeting {
    text-align: center;
  }


.header::before {
  content: "";
  width: 15rem;
  height: 5px;
  background-color: var(--headerbackground);
  bottom: 2.2rem;
  left: 50%;
  position: absolute;
  border-radius: 2rem;
  transform: translateX(-50%);
}

/* === SECTION #3: APPROACHES WE USE === */


.treatment-icon {
  height: 180px;
  width: 180px;
}

}

@media (max-width: 1450px) {


  .header {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 6px;
    display: block;
    padding: 3rem;
    font-weight: 900;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
  }

  .header::before {
    content: "";
    width: 15rem;
    height: 5px;
    background-color: var(--headerbackground);
    bottom: 2.2rem;
    left: 50%;
    position: absolute;
    border-radius: 2rem;
    transform: translateX(-50%);
  }

  .header-white {
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 6px;
    display: block;
    padding: 3rem;
    font-weight: 900;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
  }

  .section-content-3 {
    font-size: 14px;
  }

  /* === SECTION #2: === */

  .testimonial-header-longslide, .testimonial-header {
    font-size: 3.5rem;
  }

/* === SECTION #3: APPROACHES WE USE === */

.treatment-icon {
  height: 180px;
  width: 180px;
}


}




/*1024px*/

@media (max-width: 1024px) {

  /* === TITLE SECTION === */

  .title-text h1 {
      color: transparent;
      -webkit-text-stroke: 3px #fff;
      font-size: 8rem;
  }

h5 {
  font-size: 1rem;
}


/* === HEADERS === */


.header {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 6px;
  display: block;
  padding: 3rem;
  font-weight: 900;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
}

.header::before {
  content: "";
  width: 15rem;
  height: 5px;
  background-color: var(--headerbackground);
  bottom: 2.2rem;
  left: 50%;
  position: absolute;
  border-radius: 2rem;
  transform: translateX(-50%);
}

/* === SECTION #2: === */

.testimonial-header-longslide, .testimonial-header {
  font-size: 3.5rem;
}

/* === SECTION #3: === */

.section-content-3 {
  padding: 20px;
}


/* === FOOTER === */

.media-icons {
  margin: 0;
}

.Details {
  font-size: 46px;
}

}


/* 991px */


  @media (max-width: 991px) {

    /* === MISC. === */

    .header {
      font-size: 2.5rem;
    }

    .header::before {
      content: "";
      width: 11rem;
      height: 5px;
      bottom: 2rem;
      background-color: var(--headerbackground);
      left: 50%;
      position: absolute;
      border-radius: 2rem;
      transform: translateX(-50%);
    }

    /* === SECTION #2: === */

    .testimonial-header-longslide, .testimonial-header {
      font-size: 2.4rem;
    }


    .testimonial-content, .testimonial-content-longslide {
      font-size: 1.3rem;
    }


    /* === FOOTER === */


    .media-icons {
      display: flex;
      justify-content: space-between;
    }

    .media-icons {
      padding-bottom: 1rem;
      margin: 0px 250px 0px 250px;
    }

  }



/*768px */


@media (max-width: 768px) {


  /* === Welcome === */

  .greeting {
    font-size: 3.5rem;
  }

  .title-text {
    text-align: center;
  }

  /* === SECTION #3 === */


  .treatment-icon {
    height: 150px;
    width: 150px;
  }

    /* === HEADER === */


  .header {
    font-size: 2.5rem;
  }

  .header::before {
    content: "";
    width: 11rem;
    height: 5px;
    background-color: var(--headerbackground);
    left: 50%;
    position: absolute;
    border-radius: 2rem;
    transform: translateX(-50%);
  }



  /* === SECTION #1 ==== */

  .section-content {
    font-family: 'Poppins',sans-serif;
    padding: 15px 75px;;
    line-height: 1.7;
  }

  /* SECTION #2: */

  .home .carousel-control-next,
  .home .carousel-control-prev{
    display: none;
  }

.testimonial-content {
  font-size: 16px;
  max-width: 80ch;
}

.testimonial-header {
  font-size: 3rem;
  padding: 1rem;
}

.testimonial-header-longslide {
  font-size: 2.4rem;
  padding: 0rem;
}

.testimonial-content-longslide {
  font-size: 16px;
  max-width: 80ch;
}



  .home .carousel-indicators li{
    height: 60px;
    width: 60px;
  }
  .home .carousel-item h2{
    font-size: 45px;
  }
  .home .carousel-item p{
    font-size: 22px;
  }

  .cover-image {
    height: 70vh;
  }

  /* === SECTION #3: APPROACHES WE USE === */


  .treatment-icon {
    height: 180px;
    width: 180px;
  }

  /* === FOOTER === */

  .media-icons {
  margin: 0px 150px 0px 150px;
  }

  .Details {
  font-size: 39px;
  }

  footer p {
    font-size: 15px;
  }


}

/* 767px*/
@media(max-width: 767px){

  /* SECTION #2: */

  .home .carousel-control-next,
  .home .carousel-control-prev{
  	display: none;
  }

.testimonial-content {
  font-size: 16px;
  max-width: 80ch;
}

.testimonial-header {
  font-size: 3rem;
  padding: 1rem;
}

.testimonial-header-longslide {
  font-size: 1.9rem;
  padding: 0rem;
}

.testimonial-content-longslide {
  font-size: 13px;
  max-width: 80ch;
}



  .home .carousel-indicators li{
  	height: 60px;
  	width: 60px;
  }
  .home .carousel-item h2{
  	font-size: 45px;
  }
  .home .carousel-item p{
  	font-size: 22px;
  }

  .cover-image {
    height: 80vh;
  }

}



/*600px */


@media (max-width: 600px) {

/* === WELCOME === */

/* === TITLE SECTION === */

.title-text h1 {
    color: transparent;
    -webkit-text-stroke: 3px #fff;
    font-size: 4rem;
}

/* === MISC. === */

.pictures {
    padding: 0;
    height: 180px;
    width: 350px;
    margin: auto;
}

.header {
  font-size: 2rem;
}

.header::before {
  content: "";
  width: 11rem;
  height: 5px;
  bottom: 2rem;
  background-color: var(--headerbackground);
  left: 50%;
  position: absolute;
  border-radius: 2rem;
  transform: translateX(-50%);
}

.section-content {
  padding: 15px 50px;
}

/* === SECTION #2: */

.testimonial-content {
  font-size: 12px;
  max-width: 80ch;
}

.testimonial-header {
  font-size: 2rem;
  padding: 1rem;
}

.testimonial-header-longslide {
  font-size: 1.9rem;
}

.testimonial-content-longslide {
  font-size: 10px;
  max-width: 80ch;
}

.cover-image {
  height: 60vh;
}


/* === SECTION #3: APPROACHES WE USE === */


.header-white {
  font-size: 2rem;
}

.treatment-icon {
  height: 180px;
  width: 180px;
}


/* === FOOTER === */

.Details {
  font-size: 39px;
}

.bottomlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.trademark {
  text-align: center;
}

.contact {
  padding-top: 1rem;
  padding-bottom: .4rem;
}

.media-icons {
  padding-bottom: 1rem;
  margin: auto;
}

footer p {
  font-size: 13.9px;
}

}




@media (max-width: 472px) {

  /* SECTION 1: ADDRESSING RELATIONAL CONFLICT */

  .green-card {
    width: 320px;
  }

  .subtitle-text {
    padding: 7px;
  }

  .title-text h1 {
    text-align: center;
    font-size: 4rem;
    padding: 0;
  }

  .header {
    font-size: 1rem;
  }

  .header::before {
    content: "";
    width: 8rem;
    height: 5px;
    bottom: 2rem;
    background-color: var(--headerbackground);
    left: 50%;
    position: absolute;
    border-radius: 2rem;
    transform: translateX(-50%);
  }

  /* SECTION #1: */

  .section-content {
    padding: 30px 25px;
  }

  .green-card {
      background: var(--darkgreen);
      width: 275px;
      padding: 1em;
      margin: auto;
      box-shadow: 20px 0px 0px 10px var(--headerbackground);
  }

  /* === SECTION #2: === */

  .cover-image {
    height: 50vh;
  }

  .testimonial-content {
    font-size: 10px;
    max-width: 80ch;
  }

  .testimonial-header {
    font-size: 1.5rem;
    margin: auto;
  }

  .testimonial-header-longslide {
    font-size: 1.1rem;
    top: 1.4em;
    position: relative;
  }

  .testimonial-content-longslide {
    font-size: 9px;
    top: 2em;
    position: relative;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: .25rem;
  color: #fff;
  text-align: center;
}


/* SECTION #3: APPROACHES WE USE */

  .section-content-3 {
    font-size: 12.3px;
    padding: 8px 17px;
  }

  .section-list-3 {
    font-size: .9em;
    padding: 8px;
  }


/* === FOOTER === */

.trademark {
  text-align: center;
}

.contact {
  padding-top: 1rem;
  padding-bottom: .4rem;
}

.media-icons {
  padding-bottom: 1rem;
  margin: auto;
}

/* === MISC. === */


.pictures {
  width: 300px;
  margin: auto;
  height: 150px;
}

h4 {
font-size: 1.2em;
}

footer p {
  font-size: 15px;
}


  }




@media (max-width: 320px) {

  /* === WELCOME === */

    .subtitle-text {
      text-align: center;
    }

    .title-text h1 {
      font-size: 3.5rem;
    }


    /* === SECTION #1: ADDRESSING RELATIONAL CONFLICT === */

    .green-card {
        background: var(--darkgreen);
        width: 275px;
        padding: 1em;
        margin: auto;
        box-shadow: 20px 0px 0px 10px var(--headerbackground);
    }

    /* === SECTION #2: === */

    .testimonial-content {
      font-size: 8.5px;
    }

    .testimonial-header {
      font-size: 1.1rem;
      margin: auto;
    }

    .testimonial-header-longslide {
      font-size: 1rem;
    }

    .testimonial-content-longslide {
      font-size: 7.4px;
      padding: 5px;
    }



  /* === MISC. === */

  .header {
    font-size: 1rem;
  }

  .header::before {
    width: 5rem;
    height: 3px;
  }

  .pictures {
  width: 250px;
  height: 180px;
  margin: auto;
  }

  h4 {
    font-size: 1.1em;
  }

  h2 {
    font-size: 1.3em;
  }

  .section-content {
    padding: 8px 25px;
  }



    /* === SECTION #3: APPROACHES WE USE === */


    .header-white {
      font-size: 1.8rem;
    }

  .section-content-3 {
    font-size: 13.3px;
    padding: 8px 17px;
  }

  /* === FOOTER === */

  .Details {
    font-size: 40px;
  }

  footer p {
    font-size: 15px;
}
}
