:root {
  --white: #fff;
  --headerbackground: #212329;
  --darkgreen: #1fcc84;
  --contactinfohover: #948f8f;
  --black: #333;
  --navlinkdropdownmenu: #cbd0d7;
  --signup: #11935d;
  --grey: #cacaca;
  --limegreen: #9FC088;
  --lightbrown: #5a5a5b;
  --lightblack: #4A4A4A;
  --text: #F1EEE9;
  --officedetails: #aeaeae;
}

li {
  list-style: none;
  margin: auto;
}

a {
  text-decoration: inherit;
}

html,body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


section {
  width: 100%;
  min-height: 1000px;
}

p {
  color: var(--text);

}



/***************************************/
        /* Links */
/***************************************/

.link {
  color: var(--white);
  text-decoration: none;
  transition: .1s;
}

.link:hover {
  color: var(--navlinkdropdownmenu);
}

/***************************************/
        /* Header */
/***************************************/

.header {
  text-transform: uppercase;
  position: relative;
  font-size: 3.5rem;
  letter-spacing: 4px;
  padding: 3rem;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.header::before {
  content: "";
  width: 15rem;
  height: 5px;
  background-color: var(--darkgreen);
  bottom: 3.2rem;
  left: 50%;
  position: absolute;
  border-radius: 2rem;
  transform: translateX(-50%);
}


/***************************************/
        /* Keyframes */
/***************************************/

.fade-up {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in {
  animation: fadeIn 2s;
}

.fade-up.appear {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fade-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translate(-10px);
  }

    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }

  @keyframes skeleton-loading {
    0% {
      background-color: var(--grey)(200, 20%, 70%);
    }

    100% {
      background-color: var(--grey)(200, 20%, 95%);
    }
  }



  /***************************************/
            /* Navbar */
  /***************************************/

.logo {
  width: 190px;
  margin-right: 1em;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--darkgreen);
    border: none;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
   border: none;
}

:focus-visible {
  outline-color: none;
  outline-style: none;
  outline-width: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}



/***************************************/
        /* Dropdown-Menu */
/***************************************/


  .nav-link {
    display: block;
    padding: 1rem 1rem;
    color: var(--darkgreen);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-weight: 700;
    border: none;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: var(--white);
    font-weight: 700;
    border: none;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link:hover {
    color: var(--darkgreen);
    border: none;
    box-shadow: none;
}

  nav .dropdown-menu {
      min-width: 200px;
      max-height: none;
      padding: 20px;
      border-radius: 0;
      margin: 0;
      white-space: nowrap;
      border: 1px solid #36384a;
      box-shadow: 0 3px 6px rgb(0 0 0 / 23%), 0 3px 6px rgb(0 0 0 / 16%);
      flex-direction: column;
      background: var(--headerbackground);
    }

/***************************************/
        /* Welcome Section */
/***************************************/


#client {
  background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(235, 223, 223, 0.6));
  background-image: url(images/Nature.jpeg);
  width: 100%;
  height: 100vh;
  line-height: 0;
  background-repeat: round;
  background-size: cover;
}

.menu-wrap {
  background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

.wrap1 {
  position: absolute;
  bottom: 5rem;
  text-align: center;
  line-height: 0;
}

/* Let's Talk! Button */


#client .button {
  -webkit-appearance: none;
  background-color: transparent;
  border-radius: 300px;
  border: 2px solid #fafafa;
  color: #fafafa;
  cursor: pointer;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  padding: 1em 1.75em;
  text-transform: uppercase;
  background-color: .1s 0s ease-in-out,color .1s 0s ease-in-out;
}

#client .button:hover {
  background: #fafafa;
  color: var(--headerbackground);
  transition: .2s;
}

/* Greeting Message */

.greeting {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: white;
  font-size: 5.5rem;
  letter-spacing: .1rem;
}


/***************************************/
        /* About Us */
/***************************************/

/* Heading */

.AboutUs-2 {
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Poppins',sans-serif;
}

/* Background Image */

#intro-2 {
  background-image: linear-gradient(359deg, var(--headerbackground)  2%, rgba(0,0,0,0) 200%), url(images/youngadults.jpg);
  width: 100%;
  background-repeat: round;
  background-size: cover;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  padding: 9em 0 12.1875em;
}

/* Paragraphs */

.intro-paragraph-2 {
   font-size: 1.2rem;
   max-width: 60ch;
   line-height: 1.9;
   font-weight: 900;
   letter-spacing: 1px;
}

/* Quotes */

.healing {
  margin: 0.5em auto;
}

.quotes {
  border:none;
  color:var(--darkgreen);
  font-family:'Times New Roman',sans-serif;
  font-size:3em;
  font-weight:bold;
  line-height:41px;
  padding: 0px 16px 0px 16px;
  width: 20px;
}

.quote {
  border:none; font-size:1.2em; font-style:italic; padding:0; vertical-align:middle;
}


/***************************************/
        /* Our Goal */
/***************************************/

#mission {
  background-image: linear-gradient(288deg, var(--headerbackground)  2%, rgba(0,255,66,0) 150%), url(images/YoungAdults.jpeg);
  width: 100%;
  background-repeat: round;
  background-size: cover;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  padding: 9em 0 12.1875em;
}



/***************************************/
        /* Specialities */
/***************************************/


/* Container-Specialties */

#specialties {
  background: var(--limegreen)
}

.container-specialties {
  margin: 20px 40px;
  color: white;
  font-family: "Poppins", sans-serif;
}

.section-bg-specialties {
  padding: 120px 0;
}

.section-bg-specialties::before {
    content: "";
    background: var(--white);
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
}

#specialties .title-box {
  max-width: 800px;
  margin: 0 auto 1.8125em;
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
}

/* Header */

.specialties-header {
  text-transform: uppercase;
  position: relative;
  font-size: 3.5rem;
  letter-spacing: 6px;
  display: block;
  padding: 3rem;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat',sans-serif;
  color: var(--white);
}

.specialties-header::before {
  content: "";
  width: 15rem;
  height: 5px;
  background-color: var(--headerbackground);
  bottom: 2.2rem;
  left: 50%;
  position: absolute;
  border-radius: 2rem;
  transform: translateX(-50%);
}

/* Specialties Icons */

.emotionals {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.emotional {
  flex-basis: 260px;
}

.emotional .emotional-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
  margin-top: 3em;
}

.emotional:hover .emotional-img {
  filter: grayscale(0);
}

/* Specialties Text */

.emotional_text {
  margin-top: 15px;
  text-align: center;
}

/***************************************/
        /* Work With Us - Staff */
/***************************************/

.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skelteon-text:last-child {
  margin-bottom: 0;
  width: 80%
}

.profile_staff {
  font-family: 'Poppins',sans-serif;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: var(--white);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .member-info {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: var(--black);
  background: var(--white);
  padding: 20px;
}

.team .member .member-info .profile__detail {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #4e4e51;
  font-family: 'Poppins',sans-serif;
}


section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Poppins',sans-serif;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  width: 12rem;
  height: 5px;
  display: block;
  background: var(--darkgreen);
  left: 50%;
  bottom: 0;
  position: absolute;
  border-radius: 2rem;
  transform: translateX(-50%);
}

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: var(--white);
}



.section-bg::before {
  content: "";
  background: var(--headerbackground);
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}

#intro, img {
   max-width: 100%;
   display: block;
 }

 /***************************************/
         /* Telehealth */
 /***************************************/


#Telehealth {
  background-image: linear-gradient(90deg, rgb(117 155 109) 10%, rgba(0,255,66,0) 100%), url(images/Telehealth.jpeg);
  width: 100%;
  background-repeat: round;
  background-size: cover;
}

.container_telehealth {
max-width: 1170px;
margin: 0 auto;
}

.text-box {
  line-height: 1.6;
  max-width: 37ch;
  font-family: 'Montserrat', sans-serif;
  padding: 9em 0 12.1875em;
  color: var(--white);
  font-size: 17px;
  font-weight: 700;
}


/***************************************/
        /* Office */
/***************************************/


#Office {
  background-image: url(images/Building.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: round;
}

.text-box-office {
  line-height: 1.9;
  max-width: 37ch;
  font-family: 'Montserrat', sans-serif;
  padding: 6em 0;
  color: #fff;
  margin-right: 0;
  margin-left: auto;
  font-size: 17px;
  font-weight: 700;
}

.OfficeHeading {
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Poppins',sans-serif;
}


/***************************************/
        /* Footer */
/***************************************/

footer .container {
max-width: 1170px;
padding: 0 20px;
margin: 0 auto;
}

footer p {
  line-height: .8;
  font-family: "Poppins";
  font-weight: 500;
  letter-spacing: 0.1em;
  color: var(--officedetails);
}

.footer  {
  overflow: hidden;
  background: var(--headerbackground);
  color: var(--white);
  padding-top: 2em;
}

/* ==== BETTER HEALTH INFO ==== */


.footer-hours {
  font-weight: 600;
  line-height: 44;
  padding-top: 1em;
}

.Details {
  font-family: 'Poppins', sans-serif;
  font-size: 46px;
  font-weight: 600;
}


/* ==== LOGO ==== */

.bottomlogo {
  height: 280px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.trademark {
  padding-bottom: 1rem;
  text-align: center;
}


/*=== CONTACT ===*/


.media-icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.phone-icon {
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 55%;
  font-size: 30px;
  list-style: none;
  padding: 20px 20px;
  transition: .5s;
}

.phone-icon:hover {
  color: var(--contactinfohover);
  border: 2px solid var(--contactinfohover);
  transition: .2s;
}

.email-icon {
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 55%;
  font-size: 30px;
  list-style: none;
  padding: 20px 20px;

  /*effects*/
  transition: .5s;
}


/*Hover */

.email-icon:hover {
  color: var(--contactinfohover);
  border: 2px solid var(--contactinfohover);
  transition: .2s;
}




/***************************************/
        /* Media */
/***************************************/



@media (min-width: 1500px) {

  .greeting {
    text-align: center;
    font-size: 9rem;
  }

  .media-icons  {
    margin: 0px 1em;
  }

}


@media (max-width: 1450px) {


/* ==== MISC 1450PX ==== */

  .header::before {
    content: "";
    width: 15rem;
    height: 5px;
    background-color: var(--darkgreen);
    bottom: 3.2rem;
    left: 50%;
    position: absolute;
    border-radius: 2rem;
    transform: translateX(-50%);
  }

}

@media only screen and (max-width: 1150px) {
  .emotionals {
    flex-direction: column;
  }

  .emotional {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/*1024px*/

@media (max-width: 1024px) {

.greeting {
  font-size: 5em;
  position: relative;
}


/* =====  SPECIALTIES 1024px ===== */

#specialties .circle {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* === TELEHEALTH 1024px === */

.text-box  {
  padding: 9em 2em 12.1875em;
}

/* ==== FOOTER 1024px ==== */


.Details {
  font-size: 46px;
}

}


/*992px */


@media (max-width: 992px) {




  /* =====  MISC 992px ===== */

  .header::before {
    content: "";
    width: 15rem;
    height: 5px;
    background-color: var(--darkgreen);
    bottom: 3.2rem;
    left: 50%;
    position: absolute;
    border-radius: 2rem;
    transform: translateX(-50%);
  }

  .grid {
    position: static;
    top: 0;
    right: 0;
    margin-bottom: 2em;
}

.intro-paragraph-2 {
  font-size: 14px;
}

#specialties .circle {
    padding: 0;
}

.media-icons {
  padding-bottom: 1rem;
  }


}



@media only screen and (max-width: 900px) {
  .specialties-header {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .emotionals {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}




/*768px */


@media (max-width: 768px) {

  /* ==== Welcome 768px ==== */

  .greeting {
    font-size: 4.5rem;
    top: 0;
  }

/* ==== SPECIALTIES 768px ==== */


#specialties .circle {
    margin-left: auto;
    display: block;
    margin-right: auto;
    height: 170px;
    width: 170px;
}

.emotional_text {
  font-size: 28px;
}


  /* FOOTER */

  .Details {
    font-size: 39px;
  }

  footer p {
    font-size: 15px;
  }


}



/*600px */


@media (max-width: 600px) {



/* ==== WELCOME 600px ==== */

.greeting {
    font-size: 3rem;
}

.header {
  text-transform: uppercase;
  position: relative;
  font-size: 3.5rem;
  letter-spacing: 4px;
  display: block;
  padding: 3rem;
  font-weight: 700;
  text-align: center;
}

.header::before {
  content: "";
  width: 15rem;
  height: 5px;
  background-color: var(--darkgreen);
  bottom: 3.2rem;
  left: 50%;
  position: absolute;
  border-radius: 2rem;
  transform: translateX(-50%);
}

/* ==== SPECIALTIES 600px ==== */

/* ==== INSURANCE ==== */
.insurance-header {
  font-size: 1.59em;
}

.insurance-header::before {
  width: 9rem;
}



#specialties .circle {
margin-left: auto;
margin-right: auto;
display: block;
}

.section-sp::before {
  content: "";
  background: var(--headerbackground);
  position: absolute;
  bottom: 75%;
  top: 0%;
  left: 0%;
  right: 0%;
  transform: skewX(-180deg);
}

#specialties .circle {
  height: 150px;
  width: 150px;
}

.emotional_text {
  font-size: 23.5px;
}

/* === TELEHEALTH 600px === */

.text-box {
  margin: 0 22px;
}


  /* ==== OFFICE 600px ==== */


  .OfficeHeading {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .OfficeParagraph {
    width: 100%;
    font-size: 16px;
    padding: 0;
  }


  /* ==== FOOTER 600px ==== */

  .media-icons {
      padding-bottom: 1rem;
  }

  footer p {
    font-size: 13.9px;
}

.Details {
  font-size: 39px;
}


}

@media (max-width: 575px) {
  .section-sp::before {
    bottom: 85%;
  }
}


@media (max-width: 472px) {

  #client {
    height: 65vh;
  }


.circle {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

  .header {
    font-size: 2rem;
  }

  .header::before {
    content: "";
    width: 11rem;
    height: 5px;
    bottom: 3rem;
    background-color: var(--darkgreen);
    left: 50%;
    position: absolute;
    border-radius: 2rem;
    transform: translateX(-50%);
  }

  /* === SPECIALTIES 472px === */

.specialties-header {
  font-size: 28px;
}

.specialties-header::before {
  width: 11rem;
}



  /* === TELEHEALTH 472px === */

#Telehealth {
  background-repeat: round;
}

  .text-box  {
    padding: 2em 0em 4.5em;
  }

  /* === OFFICE 472px === */

#Office {
  background-repeat: round;
}
  .text-box  {
    padding: 2em 0em 4.5em;
  }

  /* === OFFICE === */

  .OfficeParagraph {
    width: 100%;
    font-size: 15px;
    padding: 0px 20px;
    margin: auto;
  }

  .OfficeHeading {
    padding: 0px 20px;
  }

  footer p {
    font-size: 19px;
}


}



@media (max-width: 412px) {

  #client .button {
    font-size: 12px;
    top: 1em;
    position: relative;
  }

  .profile_wrap {
    margin: 0px 38px 0px 50px;
  }



  .greeting {
      font-size: 2.5em;
      text-align: center;
  }

  .button {
    padding: 0;
  }


  .section-sp::before {
    bottom: 85%;
    top: 5%;
  }

.section-title h2 {
    font-size: 47px;
}

footer p {
  font-size: 15px;
}


}

@media (max-width: 330px) {

  #client {
    height: 75vh;
  }


  .wrap1 {
    bottom: 10em;
    left: 0;
  }

  .greeting {
    font-size: 2em;
    top: 0em;
  }

  .section-sp::before {
    bottom: 85%;
    top: 5%;
  }

.TelehealthHeading {
  font-size: 3em;
}

.Details {
  font-size: 40px;
}

.specialties-header {
    font-size: 20px;
}

}
